In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
def get_html(url):
    return requests.get(url).text
def get_data(url):
    return BeautifulSoup(get_html(url), 'lxml')

Population data

In [4]:
population_data = get_data("https://index.minfin.com.ua/reference/people/")

In [5]:
table = population_data.find_all("table")[1]

In [6]:
print(type(table))

<class 'bs4.element.Tag'>

In [7]:
print(table)

<table border="0" cellpadding="3" cellspacing="0" class="line">
<caption>Численность населения Украины с 1990 по 2022 гг.<br/><small class="normal sans">(численность на 2002 год приведена на основании данных Всеукраинской переписи населения – декабрь 2001)</small></caption>
<tr><th align="center">Дата</th><th colspan="3">Численность <span class="normal">(тыс.)</span></th></tr>
<tr><td align="center"><small>на</small> 1.01.1990</td><td align="right"><big>51 838,5</big></td><td align="right"><small class="grey"><br/></small></td><td align="right"><small class="grey"><br/></small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1991</td><td align="right"><big>51 944,4</big></td><td align="right"><small class="d-positive">105.9</small></td><td align="right"><small class="d-positive">0.20%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1992</td><td align="right"><big>52 056,6</big></td><td align="right"><small class="d-positive">112.2</small></td><td align="right"><small class="d-positive">0.22%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1993</td><td align="right"><big>52 244,1</big></td><td align="right"><small class="d-positive">187.5</small></td><td align="right"><small class="d-positive">0.36%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1994</td><td align="right"><big>52 114,4</big></td><td align="right"><small class="d-negative">-129.7</small></td><td align="right"><small class="d-negative">-0.25%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1995</td><td align="right"><big>51 728,4</big></td><td align="right"><small class="d-negative">-386.0</small></td><td align="right"><small class="d-negative">-0.74%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1996</td><td align="right"><big>51 297,1</big></td><td align="right"><small class="d-negative">-431.3</small></td><td align="right"><small class="d-negative">-0.83%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1997</td><td align="right"><big>50 818,4</big></td><td align="right"><small class="d-negative">-478.7</small></td><td align="right"><small class="d-negative">-0.93%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1998</td><td align="right"><big>50 370,8</big></td><td align="right"><small class="d-negative">-447.6</small></td><td align="right"><small class="d-negative">-0.88%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1999</td><td align="right"><big>49 918,1</big></td><td align="right"><small class="d-negative">-452.7</small></td><td align="right"><small class="d-negative">-0.90%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2000</td><td align="right"><big>49 429,8</big></td><td align="right"><small class="d-negative">-488.3</small></td><td align="right"><small class="d-negative">-0.98%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2001</td><td align="right"><big>48 923,2</big></td><td align="right"><small class="d-negative">-506.6</small></td><td align="right"><small class="d-negative">-1.02%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2002</td><td align="right"><big>48 457,1</big></td><td align="right"><small class="d-negative">-466.1</small></td><td align="right"><small class="d-negative">-0.95%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2003</td><td align="right"><big>48 003,5</big></td><td align="right"><small class="d-negative">-453.6</small></td><td align="right"><small class="d-negative">-0.94%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2004</td><td align="right"><big>47 622,4</big></td><td align="right"><small class="d-negative">-381.1</small></td><td align="right"><small class="d-negative">-0.79%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2005</td><td align="right"><big>47 280,8</big></td><td align="right"><small class="d-negative">-341.6</small></td><td align="right"><small class="d-negative">-0.72%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2006</td><td align="right"><big>46 929,5</big></td><td align="right"><small class="d-negative">-351.3</small></td><td align="right"><small class="d-negative">-0.74%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2007</td><td align="right"><big>46 646,0</big></td><td align="right"><small class="d-negative">-283.5</small></td><td align="right"><small class="d-negative">-0.60%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2008</td><td align="right"><big>46 372,7</big></td><td align="right"><small class="d-negative">-273.3</small></td><td align="right"><small class="d-negative">-0.59%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2009</td><td align="right"><big>46 143,7</big></td><td align="right"><small class="d-negative">-229.0</small></td><td align="right"><small class="d-negative">-0.49%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2010</td><td align="right"><big>45 962,9</big></td><td align="right"><small class="d-negative">-180.8</small></td><td align="right"><small class="d-negative">-0.39%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2011</td><td align="right"><big>45 778,5</big></td><td align="right"><small class="d-negative">-184.4</small></td><td align="right"><small class="d-negative">-0.40%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2012</td><td align="right"><big>45 633,6</big></td><td align="right"><small class="d-negative">-144.9</small></td><td align="right"><small class="d-negative">-0.32%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2013</td><td align="right"><big>45 553,0</big></td><td align="right"><small class="d-negative">-80.6</small></td><td align="right"><small class="d-negative">-0.18%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2014</td><td align="right"><big>45 426,2</big></td><td align="right"><small class="d-negative">-126.8</small></td><td align="right"><small class="d-negative">-0.28%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2015</td><td align="right"><big>42 928,9</big></td><td align="right"><small class="d-negative">-2497.3</small></td><td align="right"><small class="d-negative">-5.50%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2016</td><td align="right"><big>42 760,5</big></td><td align="right"><small class="d-negative">-168.4</small></td><td align="right"><small class="d-negative">-0.39%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2017</td><td align="right"><big>42 584,5</big></td><td align="right"><small class="d-negative">-176.0</small></td><td align="right"><small class="d-negative">-0.41%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2018</td><td align="right"><big>42 386,4</big></td><td align="right"><small class="d-negative">-198.1</small></td><td align="right"><small class="d-negative">-0.47%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2019</td><td align="right"><big>42 153,2</big></td><td align="right"><small class="d-negative">-233.2</small></td><td align="right"><small class="d-negative">-0.55%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2020</td><td align="right"><big>41 902,4</big></td><td align="right"><small class="d-negative">-250.8</small></td><td align="right"><small class="d-negative">-0.59%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2021</td><td align="right"><big>41 588,4</big></td><td align="right"><small class="d-negative">-314.1</small></td><td align="right"><small class="d-negative">-0.75%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2022</td><td align="right"><big>41 167,3</big></td><td align="right"><small class="d-negative">-421.0</small></td><td align="right"><small class="d-negative">-1.01%</small></td></tr>
</table>

In [8]:
population = [float(value.text.replace(",", ".")[:2]+value.text.replace(",", ".")[3:]) for value in table.find_all("big")]
population

[51838.5,
 51944.4,
 52056.6,
 52244.1,
 52114.4,
 51728.4,
 51297.1,
 50818.4,
 50370.8,
 49918.1,
 49429.8,
 48923.2,
 48457.1,
 48003.5,
 47622.4,
 47280.8,
 46929.5,
 46646.0,
 46372.7,
 46143.7,
 45962.9,
 45778.5,
 45633.6,
 45553.0,
 45426.2,
 42928.9,
 42760.5,
 42584.5,
 42386.4,
 42153.2,
 41902.4,
 41588.4,
 41167.3]

In [9]:
population_data = pd.DataFrame()
population_data["year"] = [1990+i for i in range(len(population))]
population_data["population (thousands)"] = population
population_data.head()

   year  population (thousands)
0  1990                 51838.5
1  1991                 51944.4
2  1992                 52056.6
3  1993                 52244.1
4  1994                 52114.4

In [10]:
population_data.to_csv("population_info_primary.csv")

Mean salary by year in gryvnias.

In [11]:
salary_data = get_data("https://uk.wikipedia.org/wiki/Середня_заробітна_плата_в_Україні").find_all("table")
salary_data = salary_data[-1]

In [12]:
tds = salary_data.find_all("td")
print( tds )

[<td>1992
</td>, <td>5832,88<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>28,04<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>1015,67<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>—
</td>, <td>1993
</td>, <td>163533<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>36,03<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>430,42<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1994
</td>, <td>1426343<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>44,99<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>372,76<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1995
</td>, <td>7304000<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>49,53<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>201,76<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1996
</td>, <td>125,23<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>68,45<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>198,62<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1997
</td>, <td>143,09<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>76,86<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>211,13<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>20<sup class="reference" id="cite_ref-21"><a href="#cite_note-21">[21]</a></sup>
</td>, <td>1998
</td>, <td>152,83<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>62,39<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>177,69<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>н.д.
</td>, <td>1999
</td>, <td>177,39<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>42,95<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>180,68<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>24<span style="color: #0c0; font-size: 90%;">▲</span><sup class="reference" id="cite_ref-22"><a href="#cite_note-22">[22]</a></sup>
</td>, <td>2000
</td>, <td>231,04<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>42,47<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>117,51<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>н.д.
</td>, <td>2001
</td>, <td>311,62<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>58,01<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>153,57<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>50<span style="color: #0c0; font-size: 90%;">▲</span><sup class="reference" id="cite_ref-23"><a href="#cite_note-23">[23]</a></sup>
</td>, <td>2002
</td>, <td>375,98<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>70,59<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>213,84<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>н.д.
</td>, <td>2003
</td>, <td>462,58<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>86,74<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>276,27<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>н.д.
</td>, <td>2004
</td>, <td>590,53<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>111,02<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>276,06<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>81<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2005
</td>, <td>806,14<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>157,30<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>332,05<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>111<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2006
</td>, <td>1042,88<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>206,51<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>441,28<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>123<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2007
</td>, <td>1352,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>267,87<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>498,66<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>146<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2008
</td>, <td>1808,92<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>343,43<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>585,00<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>164<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2009
</td>, <td>1909,25<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>245,05<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>497,02<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>136<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2010
</td>, <td>2246,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>283,12<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>527,82<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>155<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2011
</td>, <td>2639,17<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>331,24<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>564,37<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>160<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2012
</td>, <td>3031,92<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>379,42<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>585,38<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>202<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2013
</td>, <td>3273,82<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>409,59<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>625,00<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>172<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2014
</td>, <td>3474,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>292,32<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>642,39<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>182<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2015
</td>, <td>4207,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>162,60<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>517,22<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>124<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2016
</td>, <td>5187,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>203,02<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>441,05<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>133<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2017
</td>, <td>7105,42<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>267,16<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>450,35<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>161<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2018
</td>, <td>8867,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>325,99<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>497,05<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>177<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2019
</td>, <td>10503,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>406,40<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>528,09<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>184<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2020
</td>, <td>11596,60<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>430,21<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>549,08<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>187<span style="color: #0c0; font-size: 90%;">▲</span>
</td>]

In [13]:
mid_salary = [ tds[i].text.replace(",", ".") for i in range(len(tds)-1) if i%5==1 ][4:]
print(mid_salary)

['125.23▼\n', '143.09▲\n', '152.83▲\n', '177.39▲\n', '231.04▲\n', '311.62▲\n', '375.98▲\n', '462.58▲\n', '590.53▲\n', '806.14▲\n', '1042.88▲\n', '1352.75▲\n', '1808.92▲\n', '1909.25▲\n', '2246.75▲\n', '2639.17▲\n', '3031.92▲\n', '3273.82▲\n', '3474.75▲\n', '4207.33▲\n', '5187.33▲\n', '7105.42▲\n', '8867.33▲\n', '10503.75▲\n', '11596.60▲\n']

In [14]:
mid_salary = [ float(((v[::-1])[2:])[::-1]) for v in mid_salary ]
print(mid_salary)

[125.23, 143.09, 152.83, 177.39, 231.04, 311.62, 375.98, 462.58, 590.53, 806.14, 1042.88, 1352.75, 1808.92, 1909.25, 2246.75, 2639.17, 3031.92, 3273.82, 3474.75, 4207.33, 5187.33, 7105.42, 8867.33, 10503.75, 11596.6]

In [15]:
print(len(mid_salary))

25

In [16]:
middle_salary = pd.DataFrame()
middle_salary["year"] = [1996+i for i in range(25)]
middle_salary["mid salary, hryvnias"] = mid_salary
middle_salary.to_csv("middle_salary_primary.csv")

Fertility rate

In [62]:
fertility_rate_data = get_data("https://uk.wikipedia.org/wiki/Народжуваність_в_Україні").find_all("table")
fertility_rate_data = fertility_rate_data[7].find_all("td")
fertility_rate_data[14*2:]

[<td><a href="/wiki/1996" title="1996">1996</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.36
 </td>,
 <td><a href="/wiki/1997" title="1997">1997</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.27
 </td>,
 <td><a href="/wiki/1998" title="1998">1998</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.21
 </td>,
 <td><a href="/wiki/1999" title="1999">1999</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.13
 </td>,
 <td><a href="/wiki/2000" title="2000">2000</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.12
 </td>,
 <td><a href="/wiki/2001" title="2001">2001</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.08
 </td>,
 <td><a href="/wiki/2002" title="2002">2002</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.1
 </td>,
 <td><a href="/wiki/2003" title="2003">2003</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.17
 </td>,
 <td><a href="/wiki/2004" title="2004">2004</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.22
 </td>,
 <td><a href="/wiki/2005" title="2005">2005</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.21
 </td>,
 <td><a href="/wiki/2006" title="2006">2006</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.31
 </td>,
 <td><a href="/wiki/2007" title="2007">2007</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.35
 </td>,
 <td><a href="/wiki/2008" title="2008">2008</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.46
 </td>,
 <td><a href="/wiki/2009" title="2009">2009</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.47
 </td>,
 <td><a href="/wiki/2010" title="2010">2010</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.44
 </td>,
 <td><a href="/wiki/2011" title="2011">2011</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.46
 </td>,
 <td><a href="/wiki/2012" title="2012">2012</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.53
 </td>,
 <td><a href="/wiki/2013" title="2013">2013</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.51
 </td>,
 <td><a href="/wiki/2014" title="2014">2014</a> ¹
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.50
 </td>,
 <td><a href="/wiki/2015" title="2015">2015</a> ²
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1.51
 </td>,
 <td><a href="/wiki/2016" title="2016">2016</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.47
 </td>,
 <td><a href="/wiki/2017" title="2017">2017</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.37
 </td>,
 <td><a href="/wiki/2018" title="2018">2018</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.30
 </td>,
 <td><a href="/wiki/2019" title="2019">2019</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.23
 </td>,
 <td><a href="/wiki/2020" title="2020">2020</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1.22
 </td>,
 <td><a href="/wiki/2021" title="2021">2021</a> ²
 </td>,
 <td>1.20<sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[13]</a></sup>
 </td>]

In [63]:
fertility_rate_data = [value.text for value in fertility_rate_data[14*2:] if fertility_rate_data[14*2:].index(value)%2 ]
fertility_rate_data = [float(value[2:].replace('\n', "").replace(",", ".").replace("[13]", "")) for value in fertility_rate_data]
fertility_rate_data[-1] = fertility_rate_data[-1]/100+1
fertility_rate_data

[1.36,
 1.27,
 1.21,
 1.13,
 1.12,
 1.08,
 1.1,
 1.17,
 1.22,
 1.21,
 1.31,
 1.35,
 1.46,
 1.47,
 1.44,
 1.46,
 1.53,
 1.51,
 1.5,
 1.51,
 1.47,
 1.37,
 1.3,
 1.23,
 1.22,
 1.2]

In [65]:
fertility_rate_data_save = pd.DataFrame()
fertility_rate_data_save["year"] = [1996+i for i in range(26)]
fertility_rate_data_save["fertility rate"] = fertility_rate_data
fertility_rate_data_save

    year  fertility rate
0   1996            1.36
1   1997            1.27
2   1998            1.21
3   1999            1.13
4   2000            1.12
5   2001            1.08
6   2002            1.10
7   2003            1.17
8   2004            1.22
9   2005            1.21
10  2006            1.31
11  2007            1.35
12  2008            1.46
13  2009            1.47
14  2010            1.44
15  2011            1.46
16  2012            1.53
17  2013            1.51
18  2014            1.50
19  2015            1.51
20  2016            1.47
21  2017            1.37
22  2018            1.30
23  2019            1.23
24  2020            1.22
25  2021            1.20

In [66]:
fertility_rate_data_save.to_csv("fertility_rate_data_primary.csv")