In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
def get_html(url):
    return requests.get(url).text
def get_data(url):
    return BeautifulSoup(get_html(url), 'lxml')

Population data

In [3]:
population_data = get_data("https://index.minfin.com.ua/reference/people/")

In [4]:
table = population_data.find_all("table")[1]

In [5]:
print(type(table))

<class 'bs4.element.Tag'>

In [6]:
print(table)

<table border="0" cellpadding="3" cellspacing="0" class="line">
<caption>Численность населения Украины с 1990 по 2022 гг.<br/><small class="normal sans">(численность на 2002 год приведена на основании данных Всеукраинской переписи населения – декабрь 2001)</small></caption>
<tr><th align="center">Дата</th><th colspan="3">Численность <span class="normal">(тыс.)</span></th></tr>
<tr><td align="center"><small>на</small> 1.01.1990</td><td align="right"><big>51 838,5</big></td><td align="right"><small class="grey"><br/></small></td><td align="right"><small class="grey"><br/></small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1991</td><td align="right"><big>51 944,4</big></td><td align="right"><small class="d-positive">105.9</small></td><td align="right"><small class="d-positive">0.20%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1992</td><td align="right"><big>52 056,6</big></td><td align="right"><small class="d-positive">112.2</small></td><td align="right"><small class="d-positive">0.22%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1993</td><td align="right"><big>52 244,1</big></td><td align="right"><small class="d-positive">187.5</small></td><td align="right"><small class="d-positive">0.36%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1994</td><td align="right"><big>52 114,4</big></td><td align="right"><small class="d-negative">-129.7</small></td><td align="right"><small class="d-negative">-0.25%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1995</td><td align="right"><big>51 728,4</big></td><td align="right"><small class="d-negative">-386.0</small></td><td align="right"><small class="d-negative">-0.74%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1996</td><td align="right"><big>51 297,1</big></td><td align="right"><small class="d-negative">-431.3</small></td><td align="right"><small class="d-negative">-0.83%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1997</td><td align="right"><big>50 818,4</big></td><td align="right"><small class="d-negative">-478.7</small></td><td align="right"><small class="d-negative">-0.93%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1998</td><td align="right"><big>50 370,8</big></td><td align="right"><small class="d-negative">-447.6</small></td><td align="right"><small class="d-negative">-0.88%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.1999</td><td align="right"><big>49 918,1</big></td><td align="right"><small class="d-negative">-452.7</small></td><td align="right"><small class="d-negative">-0.90%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2000</td><td align="right"><big>49 429,8</big></td><td align="right"><small class="d-negative">-488.3</small></td><td align="right"><small class="d-negative">-0.98%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2001</td><td align="right"><big>48 923,2</big></td><td align="right"><small class="d-negative">-506.6</small></td><td align="right"><small class="d-negative">-1.02%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2002</td><td align="right"><big>48 457,1</big></td><td align="right"><small class="d-negative">-466.1</small></td><td align="right"><small class="d-negative">-0.95%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2003</td><td align="right"><big>48 003,5</big></td><td align="right"><small class="d-negative">-453.6</small></td><td align="right"><small class="d-negative">-0.94%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2004</td><td align="right"><big>47 622,4</big></td><td align="right"><small class="d-negative">-381.1</small></td><td align="right"><small class="d-negative">-0.79%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2005</td><td align="right"><big>47 280,8</big></td><td align="right"><small class="d-negative">-341.6</small></td><td align="right"><small class="d-negative">-0.72%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2006</td><td align="right"><big>46 929,5</big></td><td align="right"><small class="d-negative">-351.3</small></td><td align="right"><small class="d-negative">-0.74%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2007</td><td align="right"><big>46 646,0</big></td><td align="right"><small class="d-negative">-283.5</small></td><td align="right"><small class="d-negative">-0.60%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2008</td><td align="right"><big>46 372,7</big></td><td align="right"><small class="d-negative">-273.3</small></td><td align="right"><small class="d-negative">-0.59%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2009</td><td align="right"><big>46 143,7</big></td><td align="right"><small class="d-negative">-229.0</small></td><td align="right"><small class="d-negative">-0.49%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2010</td><td align="right"><big>45 962,9</big></td><td align="right"><small class="d-negative">-180.8</small></td><td align="right"><small class="d-negative">-0.39%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2011</td><td align="right"><big>45 778,5</big></td><td align="right"><small class="d-negative">-184.4</small></td><td align="right"><small class="d-negative">-0.40%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2012</td><td align="right"><big>45 633,6</big></td><td align="right"><small class="d-negative">-144.9</small></td><td align="right"><small class="d-negative">-0.32%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2013</td><td align="right"><big>45 553,0</big></td><td align="right"><small class="d-negative">-80.6</small></td><td align="right"><small class="d-negative">-0.18%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2014</td><td align="right"><big>45 426,2</big></td><td align="right"><small class="d-negative">-126.8</small></td><td align="right"><small class="d-negative">-0.28%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2015</td><td align="right"><big>42 928,9</big></td><td align="right"><small class="d-negative">-2497.3</small></td><td align="right"><small class="d-negative">-5.50%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2016</td><td align="right"><big>42 760,5</big></td><td align="right"><small class="d-negative">-168.4</small></td><td align="right"><small class="d-negative">-0.39%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2017</td><td align="right"><big>42 584,5</big></td><td align="right"><small class="d-negative">-176.0</small></td><td align="right"><small class="d-negative">-0.41%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2018</td><td align="right"><big>42 386,4</big></td><td align="right"><small class="d-negative">-198.1</small></td><td align="right"><small class="d-negative">-0.47%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2019</td><td align="right"><big>42 153,2</big></td><td align="right"><small class="d-negative">-233.2</small></td><td align="right"><small class="d-negative">-0.55%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2020</td><td align="right"><big>41 902,4</big></td><td align="right"><small class="d-negative">-250.8</small></td><td align="right"><small class="d-negative">-0.59%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2021</td><td align="right"><big>41 588,4</big></td><td align="right"><small class="d-negative">-314.1</small></td><td align="right"><small class="d-negative">-0.75%</small></td></tr>
<tr><td align="center"><small>на</small> 1.01.2022</td><td align="right"><big>41 167,3</big></td><td align="right"><small class="d-negative">-421.0</small></td><td align="right"><small class="d-negative">-1.01%</small></td></tr>
</table>

In [7]:
population = [float(value.text.replace(",", ".")[:2]+value.text.replace(",", ".")[3:]) for value in table.find_all("big")]
population

[51838.5,
 51944.4,
 52056.6,
 52244.1,
 52114.4,
 51728.4,
 51297.1,
 50818.4,
 50370.8,
 49918.1,
 49429.8,
 48923.2,
 48457.1,
 48003.5,
 47622.4,
 47280.8,
 46929.5,
 46646.0,
 46372.7,
 46143.7,
 45962.9,
 45778.5,
 45633.6,
 45553.0,
 45426.2,
 42928.9,
 42760.5,
 42584.5,
 42386.4,
 42153.2,
 41902.4,
 41588.4,
 41167.3]

In [8]:
population_data = pd.DataFrame()
population_data["year"] = [1990+i for i in range(len(population))]
population_data["population (thousands)"] = population
population_data.head()

   year  population (thousands)
0  1990                 51838.5
1  1991                 51944.4
2  1992                 52056.6
3  1993                 52244.1
4  1994                 52114.4

In [9]:
population_data.to_csv("population_info_primary.csv")

Mean salary by year in gryvnias.

In [10]:
salary_data = get_data("https://uk.wikipedia.org/wiki/Середня_заробітна_плата_в_Україні").find_all("table")
salary_data = salary_data[-1]

In [11]:
tds = salary_data.find_all("td")
print( tds )

[<td>1992
</td>, <td>5832,88<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>28,04<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>1015,67<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>—
</td>, <td>1993
</td>, <td>163533<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>36,03<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>430,42<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1994
</td>, <td>1426343<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>44,99<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>372,76<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1995
</td>, <td>7304000<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>49,53<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>201,76<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1996
</td>, <td>125,23<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>68,45<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>198,62<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>—
</td>, <td>1997
</td>, <td>143,09<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>76,86<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>211,13<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>20<sup class="reference" id="cite_ref-21"><a href="#cite_note-21">[21]</a></sup>
</td>, <td>1998
</td>, <td>152,83<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>62,39<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>177,69<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>н.д.
</td>, <td>1999
</td>, <td>177,39<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>42,95<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>180,68<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>24<span style="color: #0c0; font-size: 90%;">▲</span><sup class="reference" id="cite_ref-22"><a href="#cite_note-22">[22]</a></sup>
</td>, <td>2000
</td>, <td>231,04<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>42,47<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>117,51<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>н.д.
</td>, <td>2001
</td>, <td>311,62<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>58,01<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>153,57<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>50<span style="color: #0c0; font-size: 90%;">▲</span><sup class="reference" id="cite_ref-23"><a href="#cite_note-23">[23]</a></sup>
</td>, <td>2002
</td>, <td>375,98<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>70,59<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>213,84<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>н.д.
</td>, <td>2003
</td>, <td>462,58<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>86,74<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>276,27<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>н.д.
</td>, <td>2004
</td>, <td>590,53<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>111,02<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>276,06<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>81<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2005
</td>, <td>806,14<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>157,30<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>332,05<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>111<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2006
</td>, <td>1042,88<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>206,51<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>441,28<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>123<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2007
</td>, <td>1352,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>267,87<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>498,66<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>146<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2008
</td>, <td>1808,92<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>343,43<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>585,00<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>164<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2009
</td>, <td>1909,25<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>245,05<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>497,02<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>136<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2010
</td>, <td>2246,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>283,12<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>527,82<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>155<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2011
</td>, <td>2639,17<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>331,24<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>564,37<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>160<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2012
</td>, <td>3031,92<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>379,42<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>585,38<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>202<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2013
</td>, <td>3273,82<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>409,59<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>625,00<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>172<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2014
</td>, <td>3474,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>292,32<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>642,39<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>182<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2015
</td>, <td>4207,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>162,60<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>517,22<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>124<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>2016
</td>, <td>5187,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>203,02<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>441,05<span style="color: red; font-size: 90%;">▼</span>
</td>, <td>133<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2017
</td>, <td>7105,42<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>267,16<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>450,35<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>161<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2018
</td>, <td>8867,33<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>325,99<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>497,05<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>177<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2019
</td>, <td>10503,75<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>406,40<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>528,09<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>184<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>2020
</td>, <td>11596,60<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>430,21<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>549,08<span style="color: #0c0; font-size: 90%;">▲</span>
</td>, <td>187<span style="color: #0c0; font-size: 90%;">▲</span>
</td>]

In [12]:
mid_salary = [ tds[i].text.replace(",", ".") for i in range(len(tds)-1) if i%5==1 ][4:]
print(mid_salary)

['125.23▼\n', '143.09▲\n', '152.83▲\n', '177.39▲\n', '231.04▲\n', '311.62▲\n', '375.98▲\n', '462.58▲\n', '590.53▲\n', '806.14▲\n', '1042.88▲\n', '1352.75▲\n', '1808.92▲\n', '1909.25▲\n', '2246.75▲\n', '2639.17▲\n', '3031.92▲\n', '3273.82▲\n', '3474.75▲\n', '4207.33▲\n', '5187.33▲\n', '7105.42▲\n', '8867.33▲\n', '10503.75▲\n', '11596.60▲\n']

In [13]:
mid_salary = [ float(((v[::-1])[2:])[::-1]) for v in mid_salary ]
print(mid_salary)

[125.23, 143.09, 152.83, 177.39, 231.04, 311.62, 375.98, 462.58, 590.53, 806.14, 1042.88, 1352.75, 1808.92, 1909.25, 2246.75, 2639.17, 3031.92, 3273.82, 3474.75, 4207.33, 5187.33, 7105.42, 8867.33, 10503.75, 11596.6]

In [14]:
print(len(mid_salary))

25

In [15]:
middle_salary = pd.DataFrame()
middle_salary["year"] = [1996+i for i in range(25)]
middle_salary["mid salary, hryvnias"] = mid_salary
middle_salary.to_csv("middle_salary_primary.csv")

Fertility rate

In [16]:
fertility_rate_data = get_data("https://uk.wikipedia.org/wiki/Народжуваність_в_Україні").find_all("table")
fertility_rate_data = fertility_rate_data[7].find_all("td")
fertility_rate_data[14*2:]

[<td><a href="/wiki/1996" title="1996">1996</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,36
 </td>,
 <td><a href="/wiki/1997" title="1997">1997</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,27
 </td>,
 <td><a href="/wiki/1998" title="1998">1998</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,21
 </td>,
 <td><a href="/wiki/1999" title="1999">1999</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,13
 </td>,
 <td><a href="/wiki/2000" title="2000">2000</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,12
 </td>,
 <td><a href="/wiki/2001" title="2001">2001</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,08
 </td>,
 <td><a href="/wiki/2002" title="2002">2002</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,1
 </td>,
 <td><a href="/wiki/2003" title="2003">2003</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,17
 </td>,
 <td><a href="/wiki/2004" title="2004">2004</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,22
 </td>,
 <td><a href="/wiki/2005" title="2005">2005</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,21
 </td>,
 <td><a href="/wiki/2006" title="2006">2006</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,31
 </td>,
 <td><a href="/wiki/2007" title="2007">2007</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,35
 </td>,
 <td><a href="/wiki/2008" title="2008">2008</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,46
 </td>,
 <td><a href="/wiki/2009" title="2009">2009</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,47
 </td>,
 <td><a href="/wiki/2010" title="2010">2010</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,44
 </td>,
 <td><a href="/wiki/2011" title="2011">2011</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,46
 </td>,
 <td><a href="/wiki/2012" title="2012">2012</a>
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,53
 </td>,
 <td><a href="/wiki/2013" title="2013">2013</a>
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,51
 </td>,
 <td><a href="/wiki/2014" title="2014">2014</a> ¹
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,50
 </td>,
 <td><a href="/wiki/2015" title="2015">2015</a> ²
 </td>,
 <td><span style="color: #0c0; font-size: 90%;">▲</span> 1,51
 </td>,
 <td><a href="/wiki/2016" title="2016">2016</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,47
 </td>,
 <td><a href="/wiki/2017" title="2017">2017</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,37
 </td>,
 <td><a href="/wiki/2018" title="2018">2018</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,30
 </td>,
 <td><a href="/wiki/2019" title="2019">2019</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,23
 </td>,
 <td><a href="/wiki/2020" title="2020">2020</a> ²
 </td>,
 <td><span style="color: red; font-size: 90%;">▼</span> 1,22
 </td>,
 <td><a href="/wiki/2021" title="2021">2021</a> ²
 </td>,
 <td>1,16<sup class="reference" id="cite_ref-20"><a href="#cite_note-20">[20]</a></sup>
 </td>]

In [17]:
fertility_rate_data = [value.text for value in fertility_rate_data[14*2:] if fertility_rate_data[14*2:].index(value)%2 ]
fertility_rate_data

['▼ 1,36\n',
 '▼ 1,27\n',
 '▼ 1,21\n',
 '▼ 1,13\n',
 '▼ 1,12\n',
 '▼ 1,08\n',
 '▲ 1,1\n',
 '▲ 1,17\n',
 '▲ 1,22\n',
 '▼ 1,21\n',
 '▲ 1,31\n',
 '▲ 1,35\n',
 '▲ 1,46\n',
 '▲ 1,47\n',
 '▼ 1,44\n',
 '▲ 1,46\n',
 '▲ 1,53\n',
 '▼ 1,51\n',
 '▼ 1,50\n',
 '▲ 1,51\n',
 '▼ 1,47\n',
 '▼ 1,37\n',
 '▼ 1,30\n',
 '▼ 1,23\n',
 '▼ 1,22\n',
 '1,16[20]\n']

In [18]:
# element = fertility_rate_data[-1].replace('\n', "").replace(",", ".").replace("[14]", "")
element = fertility_rate_data[-1].replace(",", ".")[:4]
fertility_rate_data = [float(value[2:].replace('\n', "").replace(",", ".").replace("[14]", "")) for value in fertility_rate_data[:-1]]

fertility_rate_data = fertility_rate_data + [float(element)]
fertility_rate_data

[1.36,
 1.27,
 1.21,
 1.13,
 1.12,
 1.08,
 1.1,
 1.17,
 1.22,
 1.21,
 1.31,
 1.35,
 1.46,
 1.47,
 1.44,
 1.46,
 1.53,
 1.51,
 1.5,
 1.51,
 1.47,
 1.37,
 1.3,
 1.23,
 1.22,
 1.16]

In [19]:
fertility_rate_data_save = pd.DataFrame()
fertility_rate_data_save["year"] = [1996+i for i in range(26)]
fertility_rate_data_save["fertility rate"] = fertility_rate_data
fertility_rate_data_save

    year  fertility rate
0   1996            1.36
1   1997            1.27
2   1998            1.21
3   1999            1.13
4   2000            1.12
5   2001            1.08
6   2002            1.10
7   2003            1.17
8   2004            1.22
9   2005            1.21
10  2006            1.31
11  2007            1.35
12  2008            1.46
13  2009            1.47
14  2010            1.44
15  2011            1.46
16  2012            1.53
17  2013            1.51
18  2014            1.50
19  2015            1.51
20  2016            1.47
21  2017            1.37
22  2018            1.30
23  2019            1.23
24  2020            1.22
25  2021            1.16

In [20]:
fertility_rate_data_save.to_csv("fertility_rate_data_primary.csv")

Mortality rate

In [21]:
mortality_rate_data = get_data("https://uk.wikipedia.org/wiki/Смертність_в_Україні").find_all("table")
mortality_rate_data = mortality_rate_data[3]
mortality_rate_data

<table align="left" class="standard">
<caption>
</caption>
<caption>Смертність населення України (1990—2019)<sup class="reference" id="cite_ref-passport_8-1"><a href="#cite_note-passport-8">[8]</a></sup>
</caption>
<tbody><tr>
<th></th>
<th>Усього померлих</th>
<th>Коефіцієнт смертності<br/> (на 1000 осіб)</th>
<th>Кількість померлих дітей<br/> у віці до 1 року</th>
<th>Коефіцієнт смертності дітей<br/> (на 1000 живонароджених)
</th></tr>
<tr>
<td>1990</td>
<td>629 602</td>
<td>12,1</td>
<td>8 525</td>
<td>12,8
</td></tr>
<tr>
<td>1991</td>
<td>669 960</td>
<td>12,9</td>
<td>8 831</td>
<td>13,9
</td></tr>
<tr>
<td>1992</td>
<td>697 110</td>
<td>13,3</td>
<td>8 429</td>
<td>14,0
</td></tr>
<tr>
<td>1993</td>
<td>741 662</td>
<td>14,2</td>
<td>8 431</td>
<td>14,9
</td></tr>
<tr>
<td>1994</td>
<td>764 669</td>
<td>14,7</td>
<td>7 683</td>
<td>14,5
</td></tr>
<tr>
<td>1995</td>
<td>792 587</td>
<td>15,4</td>
<td>7 314</td>
<td>14,7
</td></tr>
<tr>
<td>1996</td>
<td>776 717</td>
<td>15,2</td>
<td>6 779</td>
<td>14,3
</td></tr>
<tr>
<td>1997</td>
<td>754 151</td>
<td>14,9</td>
<td>6 282</td>
<td>14,0
</td></tr>
<tr>
<td>1998</td>
<td>719 954</td>
<td>14,4</td>
<td>5 423</td>
<td>12,8
</td></tr>
<tr>
<td>1999</td>
<td>739 170</td>
<td>14,9</td>
<td>5 065</td>
<td>12,8
</td></tr>
<tr>
<td>2000</td>
<td>758 082</td>
<td>15,4</td>
<td>4 606</td>
<td>11,9
</td></tr>
<tr>
<td>2001</td>
<td>745 952</td>
<td>15,3</td>
<td>4 283</td>
<td>11,3
</td></tr>
<tr>
<td>2002</td>
<td>754 911</td>
<td>15,7</td>
<td>4 023</td>
<td>10,3
</td></tr>
<tr>
<td>2003</td>
<td>765 408</td>
<td>16,0</td>
<td>3 882</td>
<td>9,6
</td></tr>
<tr>
<td>2004</td>
<td>761 261</td>
<td>16,0</td>
<td>4 024</td>
<td>9,5
</td></tr>
<tr>
<td>2005</td>
<td>781 961</td>
<td>16,6</td>
<td>4 259</td>
<td>10,0
</td></tr>
<tr>
<td>2006</td>
<td>758 092</td>
<td>16,2</td>
<td>4 433</td>
<td>9,8
</td></tr>
<tr>
<td>2007</td>
<td>762 877</td>
<td>16,4</td>
<td>5 188</td>
<td>11,0
</td></tr>
<tr>
<td>2008</td>
<td>754 460</td>
<td>16,3</td>
<td>5 049</td>
<td>10,0
</td></tr>
<tr>
<td>2009</td>
<td>706 739</td>
<td>15,3</td>
<td>4 801</td>
<td>9,4
</td></tr>
<tr>
<td>2010</td>
<td>698 235</td>
<td>15,2</td>
<td>4 564</td>
<td>9,1
</td></tr>
<tr>
<td>2011</td>
<td>664 588</td>
<td>14,5</td>
<td>4 511</td>
<td>9,0
</td></tr>
<tr>
<td>2012</td>
<td>663 139</td>
<td>14,5</td>
<td>4 371</td>
<td>8,4
</td></tr>
<tr>
<td>2013</td>
<td>662 368</td>
<td>14,6</td>
<td>4 030</td>
<td>8,0
</td></tr>
<tr>
<td>2014<sup class="reference" id="cite_ref-wocrimea_7-7"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>632 667</td>
<td>14,7</td>
<td>3 603</td>
<td>7,7
</td></tr>
<tr>
<td>2015<sup class="reference" id="cite_ref-wocrimea_7-8"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>594 795</td>
<td>14,9</td>
<td>3 318</td>
<td>7,9
</td></tr>
<tr>
<td>2016<sup class="reference" id="cite_ref-wocrimea_7-9"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>583 631</td>
<td>14,7</td>
<td>2 955</td>
<td>7,4
</td></tr>
<tr>
<td>2017<sup class="reference" id="cite_ref-wocrimea_7-10"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>574 123</td>
<td>14,5</td>
<td>2 786</td>
<td>7,6
</td></tr>
<tr>
<td>2018<sup class="reference" id="cite_ref-wocrimea_7-11"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>587 665</td>
<td>14,8</td>
<td>2 397</td>
<td>7,0
</td></tr>
<tr>
<td>2019<sup class="reference" id="cite_ref-wocrimea_7-12"><a href="#cite_note-wocrimea-7">[7]</a></sup></td>
<td>581 114</td>
<td>14,7</td>
<td>2 189</td>
<td>7,0
</td></tr>
<tr>
<td>2020<sup class="reference" id="cite_ref-12"><a href="#cite_note-12">[12]</a></sup></td>
<td>616 835</td>
<td>15,9</td>
<td></td>
<td>
</td></tr>
</tbody></table>

In [22]:
tds = mortality_rate_data.find_all("td")
tds = [ (int(tds[5*i].text[:4]), float(tds[5*i+2].text.replace(",", "."))) for i in range(30+1)] #range(int(len(tds))) ]
tds

[(1990, 12.1),
 (1991, 12.9),
 (1992, 13.3),
 (1993, 14.2),
 (1994, 14.7),
 (1995, 15.4),
 (1996, 15.2),
 (1997, 14.9),
 (1998, 14.4),
 (1999, 14.9),
 (2000, 15.4),
 (2001, 15.3),
 (2002, 15.7),
 (2003, 16.0),
 (2004, 16.0),
 (2005, 16.6),
 (2006, 16.2),
 (2007, 16.4),
 (2008, 16.3),
 (2009, 15.3),
 (2010, 15.2),
 (2011, 14.5),
 (2012, 14.5),
 (2013, 14.6),
 (2014, 14.7),
 (2015, 14.9),
 (2016, 14.7),
 (2017, 14.5),
 (2018, 14.8),
 (2019, 14.7),
 (2020, 15.9)]

In [23]:
mortality_rate_data_save = pd.DataFrame(tds)
mortality_rate_data_save.columns = ["year", "mortality rate"]
mortality_rate_data_save

    year  mortality rate
0   1990            12.1
1   1991            12.9
2   1992            13.3
3   1993            14.2
4   1994            14.7
5   1995            15.4
6   1996            15.2
7   1997            14.9
8   1998            14.4
9   1999            14.9
10  2000            15.4
11  2001            15.3
12  2002            15.7
13  2003            16.0
14  2004            16.0
15  2005            16.6
16  2006            16.2
17  2007            16.4
18  2008            16.3
19  2009            15.3
20  2010            15.2
21  2011            14.5
22  2012            14.5
23  2013            14.6
24  2014            14.7
25  2015            14.9
26  2016            14.7
27  2017            14.5
28  2018            14.8
29  2019            14.7
30  2020            15.9

In [24]:
mortality_rate_data_save.to_csv("mortality_rate_primary.csv")

GDP

In [25]:
GDP_data = get_data("https://uk.wikipedia.org/wiki/Валовий_внутрішній_продукт_України").find_all("table")
GDP_data = GDP_data[3].find_all("td")
GDP_data = GDP_data[4*8:]
GDP_data = GDP_data[5*8:]
GDP_data

[<td>1996</td>,
 <td>81,5 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>44,5 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>1595 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>872,7 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-10,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-9,3 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>54 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>1997</td>,
 <td>93,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>50,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>1842 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>991,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-3,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-2,2 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>51 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>1998</td>,
 <td>102,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>41,9 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>2040 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>835,3 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-1,9 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-1,2 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>55 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>1999</td>,
 <td>130,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>31,6 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>2614 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>635,8 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-0,2 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>0,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>59 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2000</td>,
 <td>176,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>31,3 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>3582 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>635,7 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>5,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>6,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>60 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2001</td>,
 <td>211,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>38,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4340 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>780,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>8,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>10,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>58 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2002</td>,
 <td>234,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>42,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4855 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>879,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>5,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>6,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>57 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2003</td>,
 <td>277,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>50,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>5801 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>1048,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>9,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>10,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2004</td>,
 <td>357,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>64,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>7535 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>1367,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>11,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>12,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2005</td>,
 <td>457,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>86,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>9709 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>1828,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2006</td>,
 <td>565,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>107,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>12076 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2303,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>7,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>8,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>52 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2007</td>,
 <td>751,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>142,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>16150 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3068,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>8,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>8,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>48 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2008</td>,
 <td>990,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>179,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>21419 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3891,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>45 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2009</td>,
 <td>947,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>117,2 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>20564 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>2545,5 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-15,1 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-14,8 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>53 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2010</td>,
 <td>1120,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>136,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>24429 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2974,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2011</td>,
 <td>1349,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>163,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>29519 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3570,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>5,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>5,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2012</td>,
 <td>1459,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>175,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>32002 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3856,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>0,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>0,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>53 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2013</td>,
 <td>1522,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>183,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>33473 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4030,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-0,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>0,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>55 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2014*</td>,
 <td>1586,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>133,5 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>35834,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3014,6 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-6,6 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-6,3 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>59 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2015*</td>,
 <td>1988,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>91,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>46210,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2115,4 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-9,8 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>-9,4 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>62 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2016*</td>,
 <td>2383,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>93,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>55853,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2185,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>65 <span style="color: red; font-size: 90%;">▲</span>
 </td>,
 <td>2017*</td>,
 <td>2982,9 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>112,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>70224,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2641,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>2,5 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>63 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2018*</td>,
 <td>3558,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>130,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>84190,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3095,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,3 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>59 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2019*</td>,
 <td>3974,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>153,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>94589,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3659,8 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,2 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>57 <span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2020*</td>,
 <td>4194,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>155,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>100819,7<span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3725,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-4,0 <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>- <span style="color: red; font-size: 90%;">▼</span></td>,
 <td>57 <small><span style="color:#0AF; font-size: larger;">▬</span></small>
 </td>,
 <td>2021*</td>,
 <td>5459,6 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>200,1 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>131940,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4835,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td><span style="color: #0c0; font-size: 90%;">▼</span>
 </td>,
 <td>2022*</td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>205,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,4 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-
 </td>,
 <td>2023*</td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>213,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>3,7 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-
 </td>,
 <td>2024*</td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>232,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>4,0 <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>- <span style="color: #0c0; font-size: 90%;">▲</span></td>,
 <td>-
 </td>]

In [26]:
GDP_data_list = [ (int(GDP_data[8*i].text.replace("*", "")), float(GDP_data[8*i+5].text[:-2].replace(",", "."))) for i in range(25+1) ]
GDP_data_list

[(1996, -10.0),
 (1997, -3.0),
 (1998, -1.9),
 (1999, -0.2),
 (2000, 5.9),
 (2001, 8.8),
 (2002, 5.3),
 (2003, 9.5),
 (2004, 11.8),
 (2005, 3.1),
 (2006, 7.6),
 (2007, 8.2),
 (2008, 2.2),
 (2009, -15.1),
 (2010, 4.1),
 (2011, 5.4),
 (2012, 0.2),
 (2013, -0.0),
 (2014, -6.6),
 (2015, -9.8),
 (2016, 2.4),
 (2017, 2.5),
 (2018, 3.3),
 (2019, 3.2),
 (2020, -4.0),
 (2021, 3.4)]

In [27]:
GDP_data_save = pd.DataFrame(GDP_data_list)
GDP_data_save.columns = ["year", "GDP"]
GDP_data_save

    year   GDP
0   1996 -10.0
1   1997  -3.0
2   1998  -1.9
3   1999  -0.2
4   2000   5.9
5   2001   8.8
6   2002   5.3
7   2003   9.5
8   2004  11.8
9   2005   3.1
10  2006   7.6
11  2007   8.2
12  2008   2.2
13  2009 -15.1
14  2010   4.1
15  2011   5.4
16  2012   0.2
17  2013  -0.0
18  2014  -6.6
19  2015  -9.8
20  2016   2.4
21  2017   2.5
22  2018   3.3
23  2019   3.2
24  2020  -4.0
25  2021   3.4

In [28]:
GDP_data_save.to_csv("GDP_primary.csv")

PermissionError: [Errno 13] Permission denied: 'GDP_primary.csv'